@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..10,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'tailwindcss';
@import '../styles/components.css';

@theme {
  /* Создаем отдельную переменную для Nunito Sans */
  --font-nunito:
    'Nunito Sans', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --font-logo: 'Orbitron', sans-serif;
}

/* Цвета для логотипа - светлая тема (по умолчанию) */
:root {
  --logo-text-color: #000000;
  --logo-accent-color: #00FFFF; /* cyan-600 для светлой темы */
  --button-border-color: #ffffff; 
  --searchbar-border-color: #4b556382;
}

body {
  background-color: white;
}

/* Темная тема */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f;
  }


  :root {
    --logo-text-color: #ffffff;
    --logo-accent-color: #00FFFF; /* яркий cyan для темной темы */
    --button-border-color: #4b5563be;
    --searchbar-border-color: #4b5563e1;
  }
}